body {
  margin: 0px;
  background-color: black;
}

.big-card {
  width: 30vmin;
  aspect-ratio: 5 / 7;
  background-color: rgba(0, 0, 0, 0.1);
}

.little-card {
  width: 12vmin;
  aspect-ratio: 5 / 7;
}
